/** Definition of colors */
* {
   -fx-primary: #DBA901;
   -fx-light: #FAFAFA;
   -fx-dark: #2E2E2E;
   -fx-neutral: #848484;
   -fx-contrast: #ffd54f;
   -fx-transparent-background: rgb(132, 132, 132, 0.6);
}

/** Define fonts */
@font-face {
    src: url('../fonts/Prime-Regular.ttf');
}
@font-face {
    src: url('../fonts/Prime-Light.ttf');
}


.label {
	-fx-font-family: "Prime";
}


FontAwesomeIcon {
	-fx-text-fill: -fx-dark; 
	-fx-fill: -fx-dark; 
}

.button {
	-fx-background-color: -fx-light;
	-fx-text-fill: -fx-dark;
}


.togglebutton {
	-fx-background-color: -fx-light;
	-fx-text-fill: -fx-dark;
}

/**
 * TODO: in eigene Dateien für das jeweilige Element auslagern
 */
.sidemenu_color {
	-fx-background-color: -fx-dark;
	-fx-backgound-insets: 0 0 0 100;
}

.title_label {
	-fx-background-color: #E0E0E0;
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Prime";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; 
}

.subtitle_label {
	-fx-background-color: #E0E0E0;
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    /*-fx-padding: 15 30 15 30;*/
    -fx-font-family: "Prime";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;     
}

.big_buttons {
	/*-fx-pref-height: 50px;
    //-fx-pref-width: 200px;
	-fx-background-color: #E0E0E0;
	-fx-text-fill: #333333;*/
	-fx-pref-width: 150px;
	-fx-pref-height: 50px;
	-fx-background-color: #423f39;
	-fx-text-fill: white;
    -fx-font-family: "Prime";
    /*-fx-font-size: 25px;*/
    -fx-font-weight: bold;
	-fx-border-size: medium;
	/*-fx-border-style: solid;
	//-fx-border-color: black;*/
}

.big_button_sprache {
	/*-fx-pref-height: 50px;
    //-fx-pref-width: 200px;
	-fx-background-color: #E0E0E0;
	-fx-text-fill: #333333;*/
	-fx-pref-width: 80px;
	-fx-pref-height: 50px;
	-fx-background-color: #423f39;
	-fx-text-fill: white;
    -fx-font-family: "Prime";
    /*-fx-font-size: 25px;*/
    -fx-font-weight: bold;
	-fx-border-size: medium;
	/*-fx-border-style: solid;
	//-fx-border-color: black;*/
}

.big_buttons:hover {
	-fx-border-color: blue;
	-fx-text-color: blue;
}

.big_buttons:pressed {
	-fx-background-color: lightgrey;
}


.date_label {
	-fx-background-color: #E0E0E0;
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
	-fx-background-color: #423f39;
	-fx-text-fill: white;
}

.ressource_label {
	-fx-background-color: #E0E0E0;
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
	-fx-background-color: #423f39;
	-fx-text-fill: white;
}


.currentView_label {
	/*-fx-background-radius: 10 10 0 0;
	  -fx-text-fill: #333333; 
		-fx-background-color: #E0E0E0;
	//-fx-background-insets: 2 2 0 2;	
	-fx-background-color: linear-gradient(from 100.0px 30.0px to 100.0px 100.0px, #35332f, #423f39);*/
	-fx-text-fill: white;

    /*-fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    /*-fx-padding: 15 30 15 30;*/
    -fx-font-family: "Prime";
    -fx-font-size: 25px;
    -fx-font-weight: bold;

}