.headerPane {
	-fx-padding: 15;
	-fx-background-color: -fx-light;
}

.contentPane {
	-fx-padding: 15;
	-fx-background-color: -fx-light;
}


.header {
	-fx-font: bold 18pt 'Prime';
	-fx-text-fill: -fx-dark;
}

