.progressPane {
	-fx-background-image: url("../../img/loadingScreen.png");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
}

.progressLabel {
	-fx-font-family: 'Prime';
	-fx-font-size: 56px;
}

.progress-bar .track {
	-fx-background-color: -fx-primary;
}

.progress-bar .bar {
	-fx-background-color: linear-gradient(to right, -fx-primary-dark, -fx-primary-neutral);
}

.whitePane{
	-fx-background-color: white;
}