.header_anchor{
	-fx-background-color: -fx-primary-dark;
}

.notificationBackground {
	-fx-background-color: -fx-complement-light;	
}

.senderLabel {
	-fx-text-fill: -fx--primary-dark;
	-fx-font-size: 16px;
    -fx-font-family: 'Prime';
    -fx-font-wight: bold;
}

.senderPane {
	-fx-border-width: 0 1 0 0;
	-fx-border-color: -fx-primary-neutral;
	-fx-padding: 0 20 0 0;
}

.messageLabel {
	-fx-text-fill: -fx-dark;
    -fx-font-family: 'Prime Light';
}

.messageTabBackground {
	-fx-background-color: -fx-complement-light-neutral;
}