.root{
	-fx-background-color: -fx-complement-light-neutral;
	-fx-border-width: 2;
	-fx-border-color: -fx-primary-neutral;
	-fx-font-size: 14;
	-fx-font-family: "Prime";
	-fx-alignment: center;
}

.label {
	-fx-text-fill: -fx-primary;
}

.header-panel {
	-fx-background-color: -fx-complement-light-neutral;
	-fx-border-width: 0 0 2 0;
	-fx-border-insets: 0 5 0 5;
	-fx-border-color: -fx-primary-neutral;
}

.button {
	-fx-background-color: -fx-primary-neutral;
	-fx-border-radius: 2.0;
	-fx-text-fill: -fx-primary;
	-fx-font-family: "Prime";
	-fx-font-size: 14.0;	
	-fx-cursor: hand;
}

.button:hover {
	-fx-text-fill: -fx-primary-light;
	-fx-background-color: -fx-primary-dark;
}

.button:pressed {
	-fx-background-color: -fx-primary;
	-fx-border-color: -fx-primary-neutral;
	-fx-text-fill: -fx-primary-dark;
	-fx-cursor: closed_hand;
}
