

.headerPane {
	-fx-border-width: 0 0 2 0;
	-fx-border-insets: 25 0 20 25;
	-fx-border-color: -fx-dark;
	-fx-background-color: -fx-light;
}

.contentPane {
	-fx-background-color: -fx-light;
}


.header {
	-fx-font: bold 22px 'Dosis-Bold';
	-fx-text-fill: -fx-dark;
}

.button_module {
	-fx-background-color: -fx-primary;
	-fx-text-fill: -fx-light;
	-fx-border-insets: 0;
}

.button_module:hover {
	-fx-background-color: -fx-contrast;
}

