
.grid {
	-fx-background-color: lightgrey;
}

.menubutton {
	-fx-border-color: white;
	-fx-border-width: 7px;
	-fx-background-color: lightgrey;
}

.menulabel {
	-fx-font-size: 40pt;
	-fx-text-fill: darkorange;
}



